{% ckan_extends %}

{% block breadcrumb_content %}

{% endblock %}

{% block content_action %}
  {% if (is_sysadmin or is_myself) and h.check_access('user_update', user) %}
    {% link_for _('Edit'), named_route='datavicuser.edit', id=user.name, class_='btn', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block content_primary_nav %}
  {% if h.check_access('package_create') %}
    {{ h.build_nav_icon('user.read', _('Datasets'), id=user.name) }}
    {{ h.build_nav_icon('activity.user_activity', _('Activity Stream'), id=user.name) }}
  {% else %}
    {{ h.build_nav_icon('activity.user_activity', _('Activity Stream'), id=user.name) }}
  {% endif %}

  {% if h.check_access('api_token_list', {'user': user['name']}) %}
    {{ h.build_nav_icon('user.api_tokens', _('API Tokens'), id=user.name) }}
  {% endif %}
{% endblock %}

{% block user_nums %}{% endblock %}

{% block user_follow %}
  {% if h.check_access('package_create') %}
    <div class="follow_button">
      {{ h.follow_button('user', user.id) }}</li>
    </div>
  {% endif %}
{% endblock %}
