<h2>{{ _('Data and Resources') }}</h2>

<ul class="resource-list delwp-resource-list">
    <li class="resource-item">
        <div class="resource-icon">
            <img src="{{ h.url_for_static('image-icon.png') }}" alt="resource icon">
        </div>

        <div class="resource-summary">
            <p class="resource-summary__name">{{ pkg.title }}</p>
            <p class="resource-summary__formats">
                {{ _("Available files:") }}
            </p>
            <p class="resource-summary__formats">
                {% for res_format in pkg.resources | map(attribute='format') | unique %}
                    <span>{{ res_format }}</span>
                    {% if not loop.last %}|{% endif %}
                {% endfor %}
            </p>
        </div>

        {% if with_button %}
            <div class="btn-group">
                <a href="#data-request-form" class="btn btn-primary">
                {{ _('Request access') }}
                </a>
            </div>
        {% endif %}
    </li>
</ul>
