{% ckan_extends %}

{% block ckanext_pages_content %}
{% if c.page.content %}
  <div class="ckanext-pages-content">
    {% set editor = h.pages_get_wysiwyg_editor() %}
    <!-- editor set to "{{ editor }}"-->
    {% if editor %}
      <div>
          {{ h.vic_iar_extra_html_restrictions(c.page.content)|safe}}
      </div>
    {% else %}
      {{ h.render_content(c.page.content) }}
    {% endif %}
  </div>
{% else %}
  <p class="empty">{{ _('This page currently has no content') }}</p>
{% endif %}

{% endblock %}
