{% ckan_extends %}

{% block user_image %}
    <div class="image">{{ h.vic_iar_datavic_user_image(user.id, size=270) }}</div>
{% endblock %}

{% block user_about %}{% endblock %}

{% block user_nums %}{% endblock %}

{% block user_info %}
    <div class="info">
        <dl>
            {% if user.name.startswith('http://') or user.name.startswith('https://') %}
            <dt>{{ _('Open ID') }}</dt>
            <dd>{{ user.name|urlize(25) }}{# Be great if this just showed the domain #}</dd>
            {% else %}
            <dt>{{ _('Username') }}</dt>
            <dd>{{ user.name }}</dd>
            {% endif %}
        </dl>

        {% if is_myself %}
            <dl>
                <dt>{{ _('Email') }}</dt>
                <dd>{{ user.email }}</dd>
            </dl>
        {% endif %}

        <dl>
            <dt>{{ _('Member Since') }}</dt>
            <dd>{{ h.render_datetime(user.created) }}</dd>
        </dl>

        <dl>
            <dt>{{ _('State') }}</dt>
            <dd>{{ _(user.state) }}</dd>
            {% if h.is_user_account_pending_review(user.id) and h.check_access('sysadmin') %}
            <dd><a class="btn btn-warning" href="{{ h.url_for('datavicuser.approve', user_id=user.id)}}">Approve</a></dd>
            <dd><a class="btn btn-danger" href="{{ h.url_for('datavicuser.deny', id=user.id)}}">Deny</a></dd>
            {% endif %}
        </dl>
    </div>
{% endblock %}
