.btn {
    &.a {
        color: #206b82;
    }

    .fa {
        margin-right: 4px;
    }

    &.btn-light,
    &.btn-default {
        color: #000;
    }

    &.btn-danger {
        color: #fff;
        &:hover, &:focus, &:active {
            color: #fff;
        }
    }

    &.btn-group {
        &.open {
            .btn-primary {
                &.dropdown-toggle {
                    background-color: $rpl-button-primary-background-color;
                }
            }
        }
        > .btn {
            font-size: initial;
        }
    }
    &.btn-primary {
        &:disabled {
            background-color: gray;
            border-color: gray;
            cursor: not-allowed;
            pointer-events: initial;
            &:hover {
                color: #fff;
            }
        }
    }
}


.btn-primary {

    @include rpl_button;
    @include rpl_button_primary;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn-secondary {

    @include rpl_button;
    @include rpl_button_secondary;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn-success {
    text-align: center;
    display: inline-block;
    padding: 1rem 3rem;
    border: 1px solid transparent;
    line-height: 1rem;
    font-size: 1rem;
    font-family: VIC-Bold,Arial,Helvetica,"sans-serif";

    &:hover,
    &:focus {
        background-color: $rpl-button-success-hover-background-color !important;
        border-color: $rpl-button-success-hover-background-color;
    }
}
