$rpl-checkbox-box-border: 1px solid rpl-color('mid_neutral_1');
$rpl-checkbox-box-border-focus: 1px solid rpl-color('primary');
$rpl-checkbox-box-border-radius: rem(4px);

.rpl-checkbox {

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        width: $rpl-space * 5;
        height: $rpl-space * 5;
        cursor: pointer;

        &:focus,
        &:active {
            &+.rpl-checkbox__box {
                box-shadow: 0 0 0 1px #1A1A1A inset, 0 0 0 4px #FF9E1B;
            }
        }
    }

    .rpl-checkbox__inline-label {
        @include rpl_typography_ruleset($rpl-form-element-text-ruleset);
        margin-left: $rpl-space-2;
        font-size: rpl-font-size('s');
    }

    &__box {
        vertical-align: middle;
        width: 24px;
        height: 24px;
        background: #F5F5F5;
        border: 1px solid #666666;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 999;

        .rpl-icon {
            display: none;
        }

        &--checked {
            background-color: rpl-color('white');
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);

            .rpl-icon {
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }

    &:focus,
    &:hover,
    &:active {
        .rpl-checkbox__box {
            border-color: #1A1A1A;
        }
    }

    &:after {
        content: "";
    }
}
