.via-iar-delwp-dataset {
    .delwp-resource-list {
        .resource-item {
            align-items: center;
            gap: 1rem;
            padding-bottom: 1rem;

            .resource-icon img {
                width: 50px;
            }

            .resource-summary {
                p {
                    margin: 0;
                }

                .resource-summary__name {
                    margin-bottom: 1rem;
                }

                .resource-summary__formats {
                    font-size: rpl-font-size('xs');

                    span {
                        margin: 0 0.5rem;
                        display: inline-block;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }

            .btn-group .btn {
                border: 2px rpl-color() solid;
                background: rpl-color('white');
                color: #545454;
            }
        }
    }

    .delwp-access-notes {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    #data-request-form {
        margin-top: 4rem;

        & > h3 {
            margin-bottom: 1rem;
        }

        & > p {
            font-size: rpl-font-size('m');
            margin-bottom: 2rem;
        }

        .form {
            .form-controls .form-group {
                label {
                    float: unset;
                    width: auto;
                    color: #1a1a1a;
                    font-size: rpl-font-size('s');
                    font-family: rpl-font('bold');
                    margin-bottom: 1rem;

                    span.required {
                        color: #aa0028;
                        font-family: rpl-font('regular');
                        font-size: rpl-font-size('xs');
                        font-weight: normal;
                    }

                    &:after {
                        display: none;
                    }
                }

                input {
                    height: 50px;
                }

                input,
                textarea {
                    background-color: #f5f5f5;
                    border-color: #666666;
                    box-shadow: none;
                }
            }

            .form-group {
                .controls {
                    margin-left: 0;
                }
            }

            .form-actions {
                float: left;
            }

            label.checkbox {
                font-weight: normal;
            }
        }

        @include rpl_breakpoint('m') {
            max-width: 75%;
        }
    }


    #dataset-contact {
        display: none;
    }
}

// Dataset Additional info and View details styles
.dataset-details {
    ul {
        margin-bottom: 0;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            &:only-child {
                list-style-type: none;
                margin-left: -31px;
            }
        }
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}
