// Dataset Additional info and View details styles
.dataset-details {
    ul {
        margin-bottom: 0;

        &:last-child {
            margin-bottom: 0;
        }

        li {
            &:only-child {
                list-style-type: none;
                margin-left: -31px;
            }
        }
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.data-publisher-notice {
    margin-top: $rpl-space-2 * 4;
}
