//  This CSS has been cherry picked from the Datavic CKAN 2.2 theme:
//  https://github.com/salsadigitalauorg/datavic_ckan_2.2/blob/develop/default/src/ckanext-datavic/ckanext/datavic/fanstatic/styles/new.css

$primary-color: #0052C2;

.resource-item {

	border-bottom: 2px solid rpl-color('mid_neutral_1');
    border-radius: 0;
	padding: 10px;

    .resource-summary {
        flex-grow: 2;
        margin-right: 15px;
    }

    .resource-icon {
        max-width: 45px;
        .format-label {
            position: initial;
            margin-right: 10px;
            color: transparent;
            display: inline-block;
            height: 60px;
            width: 60px;
            vertical-align: text-bottom;
        }
    }

  @media (min-width: 767px) {
    .resource-summary {
      width: 24%;
    }
  }
}

.resource-list {
    .resource-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        &:hover {
            background-color: transparent;
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 0.5rem;
        }

        .btn {
            border: 2px solid rpl_color('primary');
            padding: 0.75rem;
        }

        .btn-outline {
            border-width: 2px;
            background-color: #FFFFFF;
        }
        .btn-api {
            border-color: #3A833A;
            color: #3A833A;
        }
    }

    @media (max-width: 767px) {
      .resource-item {
        display: inline;
      }
      .buttons {
        flex-direction: column;
      }
    }
}

.dropdown-menu {
    border-color: rpl_color('primary');
    > li {
        > {
            a:hover {
                background-image: none;
                background-color: rpl_color('primary');
            }
        }
    }
}

.dataset-resources {
    display: inline;

    .badge {
        background: none;
        color: rpl_color('dark_neutral');
        font-size: rem(14px);
        padding: 0 rem(4px) 0 0;
        text-shadow: none;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: rpl_color('dark_neutral');
            text-decoration: underline;
        }
        &:before {
            content: "|";
            padding-right: rem(10px);
        }
    }
    li {
        &:first-child {
            .badge {
                &:before {
                    content: "";
                    padding-right: 0;
                }
            }
        }
    }
}

.dataset-api {
    ul {
        padding-right: 50px;
        display: inline-flex;

        i {
            margin-right: 3px;
        }
    }

    li {
        display: inline;
        &:last-child {
            padding-right: 0;
        }
    }

    i {
        padding-right: 3px;
    }

    display: inline;
    float: right;
    color: rpl_color('dark_neutral');
    font-size: rem(14px);

    .preview {
        color: #011A3C;
    }

    .api a {
        color: #3A833A;
    }
}

@media (max-width: 767px) {
    .dataset-api, .dataset-resources {
        display: block;
    }
    .dataset-api {
        margin-top: 0.75rem;
        float: unset;
    }
}

.res_abstract_heading {
    font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
    font-size: 1.5rem;
    line-height: 1.2em;
    font-weight: normal;
}

.datapreview .resource-view .resource-view .actions {
    position:relative;
}

.resource-preview {
    padding-bottom: 1rem;
    h3 {
        margin: 0;
    }
    .header-container {
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dtv-external-link {
        font-family: "VIC-Bold", "Arial", "Helvetica", "sans-serif";
        color: $primary-color;
        svg {
            fill: $primary-color;
        }
    }
        }
    .resource-view {
        margin: 0;
        position: relative;
    }
}

.resource-read {
    .table.table-striped {
        thead {
            display: none;
        }
    }
    .data-dictionary-table {
        thead {
            background-color: #f2f2f2;
        }
    }
}

.module-resource {
    .nav.nav-tabs {
        li {
            padding: 0 10px;
            .btn {
                border: none;
                padding: 0.375rem 0.75rem;
                font-size: 0.875rem;
                line-height: 1.5;
                font-weight: 600;
                font-family: "VIC-Regular", "Arial", "Helvetica", "sans-serif";
                margin-bottom: 0.5rem;
            }
        }
    }
}

@media (min-width: 576px) {
    .api-modal {
        max-width: 80%;
    }
}
