{% ckan_extends %}

{# Note: The parent template has aliased c.pkg_dict as pkg #}


{% block package_tags %}
    {% block featured_resource_content %}
        {% snippet 'package/snippets/featured_resource.html',
        pkg=pkg
        %}
    {% endblock %}

{% endblock %}

{% block contact_info %}{% endblock %}

{% block primary_content_inner %}
    {{ form.errors(errors) }}
    {{ super() }}

    {% snippet "package/snippets/data_publisher_notice.html", pkg_dict=pkg %}

    {# Note: Below is the contact information section from src/ckanext-datasetform/ckanext/datasetform/templates/package/read.html #}
    {% set data = data if data else None %}
    {% set errors = errors if errors else None %}
    {% snippet "package/contact.html", pkg_id=pkg.id, pkg_name=pkg.name, userobj=c.userobj, data=data, errors=errors %}
{% endblock %}
